{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Add New {% endblock title %}

<link rel="stylesheet" href="{% static 'css/styles.css'}">



{% block body %}
    <div class="container bg-light">
        <div class="row my-5">
            <div class="col-md-3"></div>
            <div class="col-md-6 p-4">
                <form action="" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock body %}